<!--
  Generated template for the Inspire page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>inspire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 text-center>This is a Random quot of a day</h4>
  <ion-card>
    <ion-card-header>
      {{quoRan?.author}}
    </ion-card-header>
    <ion-card-content>
      {{quoRan?.quote}}
    </ion-card-content>
  </ion-card>


  <h4 text-center>This is a Popular quotes of a day</h4>
  <ion-card *ngFor="let card of quoPopArr">
    <ion-card-header>
      {{card?.author}}
    </ion-card-header>
    <ion-card-content>
      {{card?.quote}}
    </ion-card-content>
  </ion-card>
</ion-content>
