<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Welcome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <ion-slides pager padding>

          <ion-slide>
            <h2>Slide 1</h2>
            <p class="slide-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ducimus enim esse et, facilis in ipsam maxime molestiae nam omnis optio possimus sunt tempore vel, veniam voluptate voluptatibus. A atque consectetur culpa dicta, ducimus explicabo inventore labore molestiae natus nemo, placeat porro reiciendis rem similique soluta tenetur veritatis voluptatum.</p>
          </ion-slide>

          <ion-slide >
            <h2>Slide 2</h2>
            <p class="slide-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ducimus enim esse et, facilis in ipsam maxime molestiae nam omnis optio possimus sunt tempore vel, veniam voluptate voluptatibus. A atque consectetur culpa dicta, ducimus explicabo inventore labore molestiae natus nemo, placeat porro reiciendis rem similique soluta tenetur veritatis voluptatum.</p>
          </ion-slide>

          <ion-slide >
            <h2>Slide 3</h2>
            <p class="slide-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ducimus enim esse et, facilis in ipsam maxime molestiae nam omnis optio possimus sunt tempore vel, veniam voluptate voluptatibus. A atque consectetur culpa dicta, ducimus explicabo inventore labore molestiae natus nemo, placeat porro reiciendis rem similique soluta tenetur veritatis voluptatum.</p>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full icon-left>
          <ion-icon name="logo-google"></ion-icon>
          Google
        </button>
        <button ion-button full icon-left>
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </button>
        <button ion-button full icon-left>
          <ion-icon name="logo-skype"></ion-icon>
          Skype
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
