<ion-header>

  <ion-navbar>
    <ion-title>Habit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 text-center>Topic: {{habitObj?.categories}}</h3>
  <ion-card *ngFor="let obj of habitObj.habits; let i = index">
    <ion-card-content>
      <ion-card-title>
        {{obj?.title || 'you see this because something broken title'}}
      </ion-card-title>
      {{obj?.text || 'you see this because something broken text'}}
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="warning" icon-left >
          <ion-icon name='ios-barcode-outline'></ion-icon>
          #{{i+1}}
        </button>
      </ion-col>

      <ion-col text-right>
        <button ion-button clear small color="success" icon-left
                (click)="addToDoHabit(obj)"
                *ngIf="!ifAddToDo(obj)" >
          <ion-icon name='add-circle-outline'></ion-icon>
          Add
        </button>

        <button ion-button clear small color="danger" icon-left
                (click)="wasRemoveToDo(obj)"
                *ngIf="ifAddToDo(obj)" >
          <ion-icon name='close-circle-outline'></ion-icon>
          remove
        </button>

      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
