<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label> Change "ToDo" background</ion-label>
    <ion-toggle  (ionChange)="isToggleChange($event)" [checked]="onToggleChange()"></ion-toggle>
  </ion-item>
</ion-content>
