<!--
  Generated template for the ExpandStack page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Expand-stack</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Select what you want to improve:</h3>
  <ion-list>
    <button ion-item *ngFor="let item of getHabitsData" (click)="goToExpandPage(item)">
      <ion-icon [name]="item?.icon" item-left></ion-icon>
      <h3>{{ item?.categories | uppercase }}</h3>
      <p>{{item?.habits.length}} quantity</p>
    </button>
  </ion-list>
</ion-content>
