<!--
  Generated template for the TodoHabit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>todo-habit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6 text-center>Total habits: {{todosArr?.length}}</h6>

  <ion-card *ngIf="todosArr?.length <= 0">
    <ion-card-header>
      Please Add
    </ion-card-header>
    <ion-card-content>
      Some new habits ! you want to inject in your life
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of todosArr; let i = index" [color]="getAltBg()">
    <ion-card-header>
      <p>Habit index: #{{i}}</p>
      <h4>{{item?.title || 'you see this because something broken title'}}</h4>
    </ion-card-header>
    <ion-card-content>
      {{item?.text || 'you see this because something broken text'}}
    </ion-card-content>
    <button ion-button color="danger" clear (click)="removeToDo(item)">
      <ion-icon name="trash" icon-left></ion-icon>
      <span class="remove-txt">remove</span>
    </button>
  </ion-card>

</ion-content>
